@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import 'highlight.js/styles/a11y-light.css' (prefers-color-scheme: light );
@import 'highlight.js/styles/a11y-dark.css' (prefers-color-scheme: dark );

@layer base {
	a {
		@apply underline hover:no-underline focus:no-underline text-blue-500 dark:text-yellow-300;
		text-decoration-thickness: 2px;
		text-underline-offset: 2px;
	}
	p, pre, ol, ul, img {
		@apply my-4;
	}
	pre code { @apply block overflow-x-scroll py-4; }
	*:focus-visible {
		outline: auto;
	}
}

/* Markdown Syntax Styling */
@screen sm {
	main > section h1,
	main > article h1 { text-indent: -2ch; }
	.e-content h2 { text-indent: -3ch; }
	.e-content h3 { text-indent: -4ch; }
	.e-content h4 { text-indent: -5ch; }
	.e-content h5 { text-indent: -6ch; }
	.e-content h6 { text-indent: -7ch; }
	.e-content ul > li { text-indent: -2ch; }
	.e-content ol > li { text-indent: -3ch; }
}

main > section h1::before,
main > article h1::before,
.e-content h2::before,
.e-content h3::before,
.e-content h4::before,
.e-content h5::before,
.e-content h6::before,
.e-content ul > li::before,
.e-content ol > li::before {
	@apply text-gray-400 dark:text-gray-500;
}

main > section h1::before,
main > article h1::before { content: '# '; }
.e-content h2::before { content: '## '; }
.e-content h3::before { content: '### '; }
.e-content h4::before { content: '#### '; }
.e-content h5::before { content: '##### '; }
.e-content h6::before { content: '###### '; }

.e-content ul > li::before { content: '- '; }
.e-content ol { counter-reset: li; }
.e-content ol > li { counter-increment: li; }
.e-content ol > li::before { content: counter(li) ". "; }

main > section h1,
main > article h1 { @apply font-bold text-blue-500 dark:text-yellow-300 mt-8 mb-4; }
.e-content h2 { @apply font-bold text-blue-500 dark:text-yellow-300 mt-8 mb-4; }
.e-content h3 { @apply font-bold text-blue-500 dark:text-yellow-300 mt-8 mb-4; }
.e-content h4 { @apply font-bold text-blue-500 dark:text-yellow-300 mt-8 mb-4; }
.e-content h5 { @apply font-bold text-blue-500 dark:text-yellow-300 mt-8 mb-4; }
.e-content h6 { @apply font-bold text-blue-500 dark:text-yellow-300 mt-8 mb-4; }

.e-content blockquote { @apply pl-4 border-l-8; }

/* Post Header */
section > header h1,
article > header h1 { @apply my-0; }
section > header time,
article > header time { @apply italic text-gray-400 dark:text-gray-500; }

/* Section spacing */
section { @apply mt-16; }

/*
Pixel image by default, full resolution on hover.
<figure style="background-image:url(/assets/images/some-picture-pixel.png);">
	<img src="/assets/images/some-picture.png" />
</figure>
*/
figure {
	background-size: contain;
}
figure img {
	opacity: 0;
	transition: opacity .25s;
}
figure:hover img,
figure:active img {
	opacity: 100;
}


/* Terminal UI */
/* https://medium.com/@benjamib/retro-terminal-ui-ae9ac8eae71a */
body::after,
body::before {
	content: " ";
	display: block;
	height: 100%;
	left: 0;
	pointer-events: none;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 1;
}
body::after {
	background: rgba(18, 16, 16, 0.1);
	opacity: 0;
}
body::before {
	background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.35) 50%), linear-gradient(90deg, rgba(255, 0, 0, 0.06), rgba(0, 255, 0, 0.02), rgba(0, 0, 255, 0.06));
	background-size: 100% 2px, 3px 100%;
}

.alert {
	@apply my-8 p-4;
}
.alert > * {
	margin: 0;
}
.alert a {
	color: inherit;
}
.alert--danger {
	@apply bg-red-300 text-red-800;
}
.alert--warning {
	@apply bg-yellow-300 text-yellow-800;
}
.alert--info {
	@apply bg-blue-300 text-blue-800;
}
