@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import 'highlight.js/styles/a11y-light.css' (prefers-color-scheme: light );
@import 'highlight.js/styles/a11y-dark.css' (prefers-color-scheme: dark );

@layer base {
	h1,h2,h3,h4,h5,h6 { @apply font-bold; }
	a { @apply underline hover:no-underline focus:no-underline text-accent-light dark:text-accent-dark; }
	p { @apply my-6; }
	pre { @apply border-t-4 border-b-4; }
	pre code { @apply block overflow-x-scroll py-4; }
}

/*
<figure>
	<img src="/assets/images/some-picture-pixel.png" />
	<img src="/assets/images/some-picture.png" class="image-full" />
</figure>

figure {
	position: relative;
}
figure .image-full {
	opacity: 0;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	transition: opacity .1s;
}
figure:hover .image-full {
	opacity: 100;
}
*/

/* Terminal UI */
/* https://medium.com/@benjamib/retro-terminal-ui-ae9ac8eae71a */
body::after,
body::before {
	content: " ";
	display: block;
	height: 100%;
	left: 0;
	pointer-events: none;
	position: fixed;
	top: 0;
	width: 100%;
}
body::after {
	background: rgba(18, 16, 16, 0.1);
	opacity: 0;
}
body::before {
	background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.35) 50%), linear-gradient(90deg, rgba(255, 0, 0, 0.06), rgba(0, 255, 0, 0.02), rgba(0, 0, 255, 0.06));
	background-size: 100% 2px, 3px 100%;
}
